@use "variables";

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
  color: variables.$cl-gray;
}

body {
  margin: 0;

  font-size: 16px;
  font-family: "Rubik";
  font-weight: 400;

  background-color: variables.$cl-white;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

p {
  color: variables.$cl-gray-light;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;

  transition: color variables.$transition-time;
}
