@use "variables";

.header {
    margin-top: 30px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }

    &__logo {
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;

        font-family: "Rubik", sans-serif;
        font-weight: 500;
    }

    &__nav-menu {
        width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 30px;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }
}

.nav-menu__list {
    list-style: none;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: min(15px, 10vw);
}

.header__button {
    white-space: nowrap;
    background-color: unset;
    color: variables.$cl-red;
    padding: 8px 22px;
    border: 2px solid transparent;

    font-family: "Rubik", sans-serif;
    font-weight: 400;

    transition: border variables.$transition-time,
        background-color variables.$transition-time,
        color variables.$transition-time;

    &--blank {
        color: variables.$cl-gray;

        &:hover {
            border: 2px solid variables.$cl-red;
            opacity: 1;
        }

    }

    &--bordered {
        color: variables.$cl-red;
        border: 2px solid;

        &:hover {
            border: 2px solid transparent;
            background-color: variables.$cl-red;
            color: variables.$cl-white;
        }
    }

}

.nav-menu__link {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 16px;
        width: 0%;
        height: 2px;

        transition: width variables.$transition-time;

        background-color: variables.$cl-red;
    }

    &:hover::after {
        width: 100%;
    }
}