@use "variables";

.header {
    margin-top: 30px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
    }

    &__nav-menu {
        width: 400px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 30px;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }
}

.nav-menu__list {
    list-style: none;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: min(15px, 10vw);
    // background-color: pink; //FOR DEBUGGING
}

.header__button {
    white-space: nowrap;
    background-color: unset;
    color: variables.$cl-red;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    padding: 8px 22px;

    &:hover {}

    &--blank {
        color: variables.$cl-gray;
    }

    &--bordered {
        color: variables.$cl-red;
        border: 2px solid;
    }
}