.network {
  margin-top: 90px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;

    // background: #be7e7e; // FOR DEBUGGING
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    max-width: 560px;
    margin: 0 auto;
  }

  &__title {
    font-size: 30px;
  }

  &__description {
    margin-top: 16px;
  }

  &__map {
    margin-top: 70px;
  }

  &__companies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;

    width: 100%;
    margin: 0 auto;
    margin-top: 70px;

    &-container {
      width: 100%;
      overflow: hidden;
    }
  }

  &__company-logo {
    max-width: 170px;
    object-fit: contain;
  }
}

@media (max-width: 784px) {
  .network {
    margin-top: 30px;

    &__companies {
      gap: 30px;

      &-container {
        overflow: hidden;
      }
    }
  }
}
